.bars-continer {
  height: 80px;
  width: 202px;
  overflow: hidden;
  background: #EFF2F7;
  .bar-to-attr {
    float: left;
    position: relative;
    margin-left: 3px;
    height:  80px;
    .emp-attr-name {
      font-size: 13px;
      color: #225278;
      width: 21px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bars-view {
      height: 55px;
      width: 16px;
      position: absolute;
      bottom: 0;
      .bar {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: #8F9FB8;
      }
      .select-color {
        background: #225278;
      }
    }
  }
}