.bubble-container {
  float: left;
  position: absolute;
  left: 208px;
  z-index: 2;
  .bubble-wrapper {
    .bubble {
      padding: 5px;
      bottom: 32px;
      left: -13px;
      width: 250px;
      position: absolute;
      z-index: 9999;
      border: 2px solid #d3d7dc;
      background: white;
    }
    .arrow-box {
    position: relative;
    background: white;
    }
    .arrow-box:after, .arrow-box:before {
      top: 100%;
      left: 15%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .arrow-box:after {
      border-top-color: white;
      border-width: 8px;
      margin-left: -8px;
    }
    .arrow-box:before {
      border-color: rgba(147, 245, 127, 0);
      border-top-color: #d3d7dc;
      border-width: 9px;
      margin-left: -9px;
    }
  }
  .bubble-sign-wrapper {
    margin-left: 16px;
    .bubble-sign {
      float: left;
      margin-top: 7px;
      border-radius: 50%;
      line-height: 22px;
      background: #5E7C9E;
      width: 24px;
      color: white;
      text-align: center;
      height: 24px
    }
  }
}