$debug: red;
$workships-white: #fff;
$workships-babyblue: rgb(38, 43, 63);
$workships-blue: rgb(4, 55, 97);
$workships-grey: rgb(237, 241, 247);
$workships-grey-with-opacity: rgba(237, 241, 247, 0.5);
$workships-border: #c9d2de;
$workships-azure: rgb(104, 146, 183);
$workships-search-box: rgb(214, 222, 232);
$workships-left-sidebar-dark: rgb(223, 230, 240);
$workships-sidebar-seperator-dark: rgb(217, 222, 230);
$workships-sidebar-seperator-ligth: rgb(243, 245, 249);
$workships-group-name: rgb(34, 38, 46);
$workships-group-details: rgb(142, 145, 157);
$workships-group-selected: #fff;
$workships-footer-bg: rgb(40, 87, 128);
$workships-text-light-blue: rgb(113, 168, 217);
$workships-text-dark-blue: rgb(0, 54, 99);
$workships-text-groups-hierarchy: #22262e;

$workships-grey-v2: #edecec;
$workships-border-grey-v2: #dbdfe6;
$workships-darker-grey-v2: #D3D2D2;
$workships-dark-yellow: #7F6805;
$workships-yellow: rgb(235, 197, 28);
$workships-dark-grey-text: #333333;
$workships-background-grey-v2: #f4f4f4;
$workships-orange: #f15a24;
$workships-purple: #4a55e5;

$arrow-red: #f90201;
$arrow-orange: #f48926;