@import './colors';
@import './common';

.main {
  min-width: 1024px;
  padding-left: 53px;
  padding-right: 53px;

  div, h1, h2, h3 {
    cursor: default;
  }

  th, td {
    padding: 5px;
    border: 1px solid black;
  }

  table {
    border: 1px solid black;
  }

  .dash-header {
    margin: 1.1em 0;
    font-weight: 400;
    span {
      text-transform: capitalize;
    }
  }

  .add-modal {
     position: fixed;
     background: white;
     padding: 12px;
     border: 1px solid black;
     border-radius: 5px;
     top: 100px;
     left: calc(50% - 100px);
  }

  .sub-header {
    color: #112f3f;
    font-style: 'Lato';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    width: 100%;
    border-bottom: 1px solid $workships-border-grey-v2;
    height: 38px;
    img {
      width: 27px;
      margin-right: 10px;
      margin-bottom: -5px;
      height:27px;
    }
    .snapshot-dates {
      text-transform: capitalize;
      color: grey;
      /*float: right;*/
      font-weight: 400;
      font-size: 14px;
      margin-right: 10%;
      top: 243px;
      position: relative;
      .snapshot {
        display: inline-block;
        margin-right: 2px;
        i {
          font-weight: 100;
        }
      }
    }
  }

  .overview_and_stat_wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .overview-container {
      width: 100%;
      margin-bottom: 20px;
      min-width: 672.5px;
      .overview {
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 26px;
        /*margin: auto;*/
        /*max-width: 1024px;*/
        questionnaire-statistic-info {
          width: 16.66%;
          .statistic-info {
            width: 100%;
            .info-name {
              text-transform: none;
            }
            .info-percentage {
              font-size: 26px;
              font-weight: 200;
            }
            .sperate {
              top: 25px;
              height: 44px;
              width: 1px;
            }
          }
        }
        .align-right-gauge {
          margin-left: auto;
        }
        .not-right-gauge {
          margin-right: auto;
        }
      }
    }
    .communication-widgets-container {
      width: 100%;
      min-height: 500px;
      margin-top: 30px;
      justify-content: space-between;
      flex-wrap: nowrap;
      display: flex;
      .communication-widget {
        width: 600px;
        margin-right: 15px;
        &.last {
          margin-right: 0px;
        }
        .msg {
          color: gray;
          text-align: center;
          font-weight: 200;
        }
        .boxes {
          height: 100%;
          .dynamics-dyad {
            height: 170px;
            .line {
              height: 55px;
              width: 100%;
              position: relative;
              display: flex;
              align-items: center;
              &.from {
                justify-content: flex-start;
                .arrow {
                  background: $arrow-red;
                  background: linear-gradient(to right, white, $arrow-red);  /*Standard syntax*/
                  &.orange {
                    background: $arrow-orange;
                    background: linear-gradient(to right, white, $arrow-orange); /* Standard syntax */
                    &:after {
                      border-left-color: $arrow-orange;
                    }
                  }
                  &:after {
                    right: -23px;
                    border-left: 23px solid $arrow-red;
                    border-right: none;
                  }
                }
              }
              &.to {
                justify-content: flex-end;
                .group-name {
                  padding-left: 10px;
                }
                .arrow {
                  left: 10px;
                  background: $arrow-red;
                  background: linear-gradient(to left, white, $arrow-red); /* Standard syntax */
                  &.orange {
                    background: $arrow-orange;
                    background: linear-gradient(to left, white, $arrow-orange); /* Standard syntax */
                    &:after {
                      border-right-color: $arrow-orange;
                    }
                  }
                  &:after {
                    left: -23px;
                    border-right: 23px solid $arrow-red;
                    border-left: none;
                  }
                }
              }
              .group-name {
                display: inline-block;
                width: 33%;
                text-align: center;
                text-transform: uppercase;
                font-size: 12px;
                padding-top: 7px;
              }
              .arrow-container {
                position: relative;
                width: 30%;
                height: 100%;
                .arrow {
                  display: inline-block;
                  height: 13px;
                  width: 100%;
                  border: none;
                  position: absolute;
                  top: 22px;
                  &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: -5px;
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                  }
                  &.fat {
                    height: 35px;
                    top: 13px;
                    &:after {
                      top: -12px;
                      border-top-width: 30px;
                      border-bottom-width: 30px;
                      border-right-width: 28px;
                      border-left-width: 28px;
                    }
                  }
                }
              }
            }
            .text {
              clear: both;
              border-bottom: 1px solid gray;
              text-align: center;
              padding: 5px 0;
              color: gray;
              font-size: 12px;
              margin-top: 0px;
              font-weight: 200;;
            }
          }
        }
      }
    }
    .communication-changes-container {
      width: 100%;
      margin-top: 30px;
      min-height: 200px;
      justify-content: space-between;
      flex-wrap: nowrap;
      display: flex;
      .communication-change-widget {
        background-color: $workships-grey-v2;
        width: 150px;
        margin-right: 15px;
        &.last {
          margin-right: 0px;
        }
      }
    }
    .statistics_container{
        width: 460px;
        height: 314px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 10px;
      .sub-header {
        margin-top: 15px;
      }
      .cards_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }

  .spotlight-container {
    width: 99%;
    height: 367px;
    margin-bottom: 20px;
    margin-top: 106px;
    .spotlight-name {
      text-align: center;
      span {
        margin-left: 5px;
        font-weight: 100;
      }
    }
    .spotlight {
      height: 297px;
      line-height: 297px;
      background-color: $workships-grey-v2;
      color: grey;
      text-align: center;
    }
  }

  .bottom-rows-container {
    width: 99%;
    height: 380px;
    margin-bottom: 20px;
    .statistics-container {
      position: absolute;
      /*float: left;*/
      width: 600px;
      height: 310px;
      .sub-header {
        width: 333px;
      }
      .statistics {
        height: 90%;
        text-align: center;
        .rectangle {
          color: grey;
          line-height: 111px;
          text-align: center;
          height: 40%;
          width: 40%;
          margin-right: 4%;
          margin-bottom: 3%;
          float: left;
          background-color: $workships-grey-v2;
        }
      }
    }
    .notifications-container {
      position: absolute;
      padding-left: 400px;
      height: 310px;
      .notifications {
        .line {
          height: 36px;
          line-height: 36px;
          text-align: left;
          margin-bottom: 14px;
          min-width: 697px;
          .icon {
            height: 100%;
            width: 36px;
            margin-right: 15px;
            display: inline-block;
          }
          .title {
            color: grey;
            height: 100%;
            width: calc(100% - 61px);
            padding-left: 10px;
            float: right;
            display: inline-block;
            background-color: $workships-grey-v2;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .navigation {
          width: calc(100% - 440px);
        }
      }
    }
    .without-menu {
      width: calc(100% - 440px);
    }
    .with-menu {
      width: calc(100% - 640px);
      top: 180px;
      position: relative;
    }
    .navigation {
      text-align: center;
      position: absolute;
      bottom: -35px;
      width: 330px;
      .dot {
        height: 7px;
        width: 7px;
        background-color: $workships-grey-v2;
        border-radius: 100%;
        display: inline-block;
        margin: 5px;
      }
    }
  }
}


/************** Statistics Animation ***************/





/************** Statistics Animation ***************/


