.dashboard_insight_container {
  .square {
    height: 20px;
    width: 96px;
    margin-left: 0px;
    margin-right: 6px;
  }
  .gray {
    background-color: #112f3f !important;
    opacity: 0.1 !important;
  }
  .red_1 {
    background-color: #ed1c24;
    opacity: 0.1;
  }
  .red_2 {
    background-color: #ed1c24;
    opacity: 0.4;
  }
  .red_3 {
    background-color: #ed1c24;
    opacity: 0.6;
  }
  .red_4 {
    background-color: #ed1c24;
    opacity: 1;
    margin-right: 0px;
  }
  .green_4 {
    background-color: #00a99d;
    opacity: 1;
    margin-right: 0px;
  }
  .green_3 {
    background-color: #00a99d;
    opacity: 0.6;
  }
  .green_2 {
    background-color: #00a99d;
    opacity: 0.4;
  }
  .green_1 {
    background-color: #00a99d;
    opacity: 0.1;
  }

  .insight-description {
    width: 382px;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #112f3f
  }
  .squares-container {
    display: inline-flex;
  }

  .tab-link {
    font-size: 12px;
    color: #808080;
    float: left;
    cursor: pointer;
    text-decoration: underline;
  }
  .tab-img {
    height: 20px;
    width: 20px;
    margin-top: 4px;
    float: left;
  }
  .collaboration {
    background: url(asset_path('icon-collaboration.png')) no-repeat;
  }
  .top_talent {
    background: url(asset_path('icon-top-talent.png')) no-repeat;
  }
  .workflow {
    background: url(asset_path('icon-workflow.png')) no-repeat;
  }
  .productivity {
    background: url(asset_path('icon-productivity.png')) no-repeat;
  }
  .tab-link-container {
    width: 210px;
  }
}
.page-unavailable-title {
   font-style: italic;
   color: rgba(17, 47, 63, 0.5);
   font-size: 16px;
   margin-top: -30px;
  }

  .algorithm-name {
    text-transform: capitalize;
    display: inline;
  }