.edit-preset-container {
  background-color: white;
  border: 2px solid rgb(211, 215, 220);
  border-radius: 3px;
  padding: 10px 20px 5px 10px;
  width: 100%;
  height: 600px;
  float: left;
  color: #003663;
  .preset-headline {
    padding-top: 12px;
    padding-left: 10px;
    line-height: 29px;
    padding-bottom: 12px;
    .edit-title {
      padding-left: 5px; 
      font-weight: 600;
      font-size: 20px;
      display: inline-block;
    }
    .seperator {
      display: inline-block;
      width: 2px;
      height: 19px;
      margin-left: 8px;
      margin-bottom: -4px;
      background-color: #dfdfdf;
    }
    .input {
      margin-left: 10px;
      padding-left: 10px;
      width: 150px;
      color: #6a788d;
      font-weight: 500;
      display: inline-block;
    }
    .input:focus {
      outline: none;
    }
    .headline-right-side {
      margin-right: -20px;
      float: right;
      .delete-button {
        background-image: url(asset-path('delete_on.png'));
        background-repeat: no-repeat;
        margin-right: 9px;
        height: 28px;
        width: 28px;
        display: inline-block; 
      }
      .save-draft {
        padding-right: 10px;
        width: 90px;
        height: 28px;
        background-repeat: no-repeat;
        display: inline-block;
        /*
        6.7.17 - Michael - Commented out after upgrade to rails 5. Need to delete or fix
        background-image: url(asset-path('save draft_active.png'));
        */
      }
      .off {
      /*
      6.7.17 - Michael - Commented out after upgrade to rails 5. Need to delete or fix
        background-image: url(asset-path('save draft_disabled.png'));
        */
      }
      .generate-preset {
        padding-right: 10px;
        display: inline-block;
        background-repeat: no-repeat;
        width: 123px;
        height: 28px;
        background-image: url(asset-path('add_to_presets_active.png'));
      }
      .preset-setting-arrow {
        display: inline-block;
        margin-right: 5px;
        height: 20px;
        width: 20px;
        .arrow-expand {
          background-image: url(asset-path('expand.png'));
          width: 100%;
          height: 100%;
          background-repeat: no-repeat; 
        }
        .arrow-minimize {
          width: 100%;
          height: 100%;
          background-image: url(asset-path('minimize.png'));
          background-repeat: no-repeat;
        }
      }
    }
  }
  .preset-setting {
    .line-separator {
      margin-bottom: 8px;
      margin-left: 12px;
      width: 100%;
      background-color: #d9dee6;
      height: 1px;
    }
    .selected-option-header {
      margin-bottom: 10px;
      .check-button {
        text-align: center;
        line-height: 27px;
        float: left;
        margin-left: 10px;
        top: 63px;
        height: 30px;
        width: 130px;
        font-weight: 400;
        border: 1px solid #ccd7e9;
        border-radius: 3px;
        background-color: white;
        color: #8f9fb8;
        z-index: 101;
      }
      .check-button:hover {
        font-weight: 600;
      }
      .selected-account {
        padding-left: 15px;
        line-height: 33px;
        font-weight: 600;
        font-size: 14px;
        display: inline-block;
      }
    }
    .table-main { 
      width: 100%;
      max-height: 467px;
      padding-right: 10px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .table-footer {
      margin: 0;
    }
    .setting-table {
      border-collapse: collapse;
      width: 100%;
      height: 450px;
      margin-left: 10px;
      margin-bottom: 5px;
      .setting-table-headline {
        font-size: 12px;
        height: 25px;
        color: #8C9EAF;
        background-color: #C8DAE5;
        .headline-creatria {
          width: 20%;
          font-weight: 100;
          border-top: 1px solid #dfdfdf;
          border-bottom: 1px solid #dfdfdf;
          border-right: 1px solid #dfdfdf;
          padding-left: 12px;
          text-align: left;
        }
        .headline-groups {
          width: 20%;
          border-top: 1px solid #dfdfdf;
          font-weight: 100;
          border-bottom: 1px solid #dfdfdf;
          padding-left: 12px;
          text-align: left;
        }
        .headline-employees {
          width: 60%;
          padding-left: 12px;
          font-weight: 100;
          border-left: 1px solid #dfdfdf;
          border-top: 1px solid #dfdfdf;
          border-bottom: 1px solid #dfdfdf;
          text-align: left;
          background-color: #EDF1F7;
        }
      }
      .filter-content {
        max-width: 50px;
        padding-top: 10px;
        vertical-align: top;
        width: 20%;
      }
      .groups-content {
        max-width: 50px;
        width: 20%;
        padding-top: 10px;
        vertical-align: top;
        padding-left: 10px;
        border-left: 1px solid #dfdfdf;
      }
      .employess-content {
        max-width: 300px;
        width: 60%;
        padding-top: 10px;
        vertical-align: top;
        border-left: 1px solid #dfdfdf;
        .employee-in-preset {
          width: 31%;
          float: left;
          padding-left: 10px; 
        }
      }
      .preset-checkbox {
        clear: both;
        float: left;
      }
      .employees-checbox {
        clear: none;  
      }
      .checkbox-name {
        float: left;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 4px;
        padding-top: 4px;
        padding-left: 10px;
      }
      .filter-name {
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        max-width: 85%;
      }
    }
    .header-table {
      margin-bottom: 0px;
    }
  }
}