@import 'colors';
@import 'common';
.employee-chart-container {
  background-color: #f4f7fa;
  height: 146px;
  position: relative;
  .chart-box {
    background-color: #C8E4EE;
    position: absolute;
    bottom: 72px;
    width: 100%;
    border-top:solid #4FCED0 1px;
    border-bottom: dashed 2px #9C98CF;
    .chart-number {
      color: #39C8CA;
      font-size: 13pt;
      text-align: center;
      margin-top: -25px; 
    }
  }
}
