@import "./colors";
@import "./common";
@import "./sizes";

$group-widget-colors-list: #22262E, #183957 ,#0A4B75, #1E6495, #5191C1, #66ACE0, #7BB2D5, #9FC2D6, red, red;

.group-widget-class {
  width: 100%;
  margin-top:11px;
  text-transform: capitalize;
  position: relative;
  font-size: 13px;


  .bottom-seperator {
    height: 1px;
  }

  .bottom-seperator-dark {
    height: 1px;
    background-color: rgb(201, 210, 222);
  }
  .child-group-wrapper {
    clear:both;
    $border-left-base-color: rgb(54, 82, 108);
    $text-base-color:rgb(0, 54, 99);
    $base-left-indent: 1px;

    .selected-group {
      background-color: #D3D3D3 !important;
    }
    .selected-explore {
      color: #3599cc !important;
    }

    @for $i from 1 through 10 {
      .group-child-#{$i}:hover{
        background-color: rgba(255, 255, 255, .7);
      }
      .group-child-#{$i} {
        position: relative;
        padding: 5px;
        /*border-left: solid 6px nth($group-widget-colors-list, $i);*/
        color: $workships-text-groups-hierarchy;
        height: 20px;
        .checkbox-img-wrapper {
          clear: both;
          .checkbox {
            position: absolute;
            margin: 1px 0 0 $i*6 + 22px;
            img {
              margin-bottom: 1px;
            }
          }
          .img-wrapper{
            /*margin-right: 5px;*/
            padding-left: $base-left-indent * 9* $i;
            padding-right: 9px;
            float: left;
            position: absolute;
            .plus-img{
              padding-top:5px;
              height: 10px;
              width: 10px;
            }

            .minus-img{
              height: 2px;
              padding-bottom: 3px;
            }
          }
          .img-wrapper-with-scroll{
            margin-right: 21px;
            float: right;
            .plus-img{
              padding-top:5px;
              height: 10px;
              width: 10px;
            }

            .minus-img{
              height: 2px;
              padding-bottom: 3px;
            }
          }
        }

        .group-details-cls{
          box-sizing: border-box;
          //background-color: red;
          position: relative;
          left: $base-left-indent * 9* $i+ 12px;
          text-align: left;
          display: inline-block;
          font-size: 13px;
          font-weight: 400;
          width: 60%;
        }
        .group-with-checkbox {
          left: $base-left-indent * 9 * $i + 31px;
        }
      }
    }

    .group-child-1{
      border-left: 0;
      /*background-color: $workships-left-sidebar-dark;*/
      padding-top: 3px;
      padding-bottom: 3px;
      height: 20px;
      .checkbox-img-wrapper {
        clear: both;
        .checkbox {
          display: none;
/*          position: absolute;
          margin: 1px 0 0 25px;
          img {
            margin-bottom: 1px;
          }*/
        }
      }
      .group-details-cls{
        position: relative;
        left:12px;
        margin-left: 9px;
      }
      .group-with-checkbox {
        left: 32px;
      }

    }
  }

  .drill-down-warrper {
    height: 13px;
    width: 22px;
    margin-top: 4px;
    margin-right: 3px;
    float: right;
  }
  .drill-down {
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 13px;
    width: 24px;
    background-image: url(asset-path('drill_icon_selected.png'));
    background-size: 13px 13px;

  }

  .group-name {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 65%;
    font-family: Lato;
    color:  #333333;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    margin-left: 3px;
  }
  .group-icon {
    width: 16px;
    height: 13px;
    float: left;
  }
  .tooltip-group {
    position: absolute;
    z-index: 999;
    background-color: rgba(41,61,83,0.8);
    margin-top:10px;
    margin-left: 20px;
  }

  .employees-quantity {
    float: left;
    max-width: 8%;
    padding-left: 2px;
  }
}