.header-partials {

  .navbar-default {
    background: #262b3f;
    .logo-cls {
      margin-top: -10px;
      width: 26%;
      height: 38px;
    }
    .signout-cls {
      color: white;
    }
    .signout-cls:hover {
      color: red;
    }
  }
}