.measurmnet-gauge {
  position: relative;
  display: inline-block;
  font-size: 11px;
  margin-top: 10px;
  font-weight: 300;
  .title {
    color: #152932;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 16px;
  }
  .min-range-title {
    position: absolute;
    color: #808080;
    font-weight: 400;
  }
  .max-range-title {
    right: 0px;
    position: absolute;
    color: #808080;
    font-weight: 400;
  }
 
  .grauge-hand-img {
    transform: rotateZ(-90deg);
  }
  .rate-in-prectenge {
    bottom: 20;
    position: absolute;
    bottom: -45px;
  }
  .circ-bottom {
    width: 32px;
    height: 32px;
    background-color: #3C3C3C;
    position: absolute;
    bottom: -228px;
    left: -16px;
    border-radius: 50%;
  }
  .wrap-gauge {
    overflow: hidden;
    cursor: pointer;
    .chart-background {
      display: block;
    }
    svg.chart {
      border-radius: 50%;
      transform: translateX(0px);
      /*display: flex;*/
    }
    circle {
      stroke: #0074d9;
      stroke-width: 500px;
      transform: rotate(180deg);
      -ms-transform: rotate(-90deg);
      /*transition: transform .8s linear;*/
      transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      stroke-dasharray: 1 276;
    }
  }
}