@import './colors';
@import './common';


.mobile-container {
  background-color: #262b3f;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  img {
    height: inherit;
    width: inherit;
  }

  .zoom {
    img {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: all 1s cubic-bezier(0.055, 0.710, 0.725, 0.825);
      transition: all 1s cubic-bezier(0.055, 0.710, 0.725, 0.825);
    }
  }

  .zoom-out {
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }

  .zoom-btn {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .zoom-out-btn {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .mobile-header {
    background-color: #6892b7;
    clear: both;
    height: 125px;
    position: absolute;
    top: 0;
    right: 10px;
    left: 10px;
    margin-right: 0;
    margin-left: 0;
    z-index: 100;
    .mobile-header-page-num {
      border-right: 1px solid #9ec2e2;
      box-sizing: border-box;
      color: #fff;
      float: left;
      font-size: 42px;
      font-weight: 400;
      height: 125px;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 48px;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 1, 0.19);
    }
    .mobile-header-title {
      border-left: 1px solid #41698d;
      box-sizing: border-box;
      color: #fff;
      float: left;
      font-size: 34px;
      font-weight: 400;
      height: 125px;
      padding-left: 21px;
      padding-top: 49px;
      text-align: left;
      text-shadow: 0 1px 1px rgba(0, 0, 1, 0.19);
    }
    .mobile-header-arrow {
      float: right;
      height: 75px;
      padding-right: 35px;
      padding-top: 24px;
      width: 70px;
    }
  }
  .mobile-content {
    background-color: #edf1f7;
    border-left: 10px solid #262b3f;
    border-right: 10px solid #262b3f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
  }
  .mobile-content-center {
    position: relative;
    img.mobile-avatars {
      margin-left: auto;
      margin-right: auto;
      padding-top: 70px;
      padding-bottom: 70px;
      display: block;
      width: 450px;
    }
    img.mobile-liking-btns {
      height: 75px;
      position: absolute;
      top: 177px;
    }
    .mobile-like-btn {
      right: 50%;
      margin-right: -375px;
    }
    .mobile-dislike-btn {
      left: 50%;
      margin-left: -375px;
    }
  }
  .mobile-footer {
    background-color: #262b3f;
    bottom: 0;
    height: 125px;
    left: 0;
    position: absolute;;
    right: 0;
    z-index: 100;
    .mobile-btns-container {
      bottom: 6px;
      height: 111px;
      left: 14px;
      position: absolute;
      right: 7px;
      .mobile-continue-later {
        float: left;
        height: 95px;
        padding-top: 10px;
        position: static;
        width: 375px;
      }
      .mobile-undo {
        float: left;
        height: 95px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        position: absolute;
        right: 0;
        width: 95px;
      }
      .mobile-counter {
        color: #fff;
        float: right;
        font-size: 41px;
        font-weight: 400;
        margin-right: 30px;
        padding-top: 45px;
        position: static;
        text-align: right;
        text-shadow: 0 1px 1px rgba(0, 0, 1, 0.19);
      }
    }
  }
}
