@import './colors';
@import './common';

.pin-editor
{
  background: white;
  border: 1px solid black;
  height: 500px;
  left: 50%;
  margin-left: -450px;
  position: relative;
  width: 900px;
  .sidebar
  {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
    .delete-pin
    {
      background-color: lightblue;
      bottom: 35px;
      color: white;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      width: 100px;
    }
    .new-pin
    {
      background-color: lightblue;
      bottom: 0;
      color: white;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      width: 100px;
    }
    .pins-container
    {
      background-color: lightgray;
      bottom: 65px;
      overflow: auto;
      position: absolute;
      top: 0;
      width: 100px;
      .pin-title
      {
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        padding: 8px;
        &.selected
        {
          background-color: white;
        }
      }
    }
  }
  .content
  {
    bottom: 0;
    left: 100px;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
    .name-field
    {
      .title
      {
        float: left;
        margin-right: 4px;
      }
      .input
      {
        float: left;
      }
    }
    .filters
    {
      clear: both;
      height: 300px;
      overflow: auto;
      padding-top: 10px;
      .add-filter
      {
        background-color: lightblue;
        color: white;
        cursor: pointer;
        font-size: 18px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-right: 8px;
        text-align: center;
        user-select: none;
        width: 40px;
      }
      .filter
      {
        clear: both;
        height: 30px;
        user-select: none;
        .del-filter
        {
          background-color: lightblue;
          color: white;
          cursor: pointer;
          float: left;
          font-size: 18px;
          height: 20px;
          line-height: 20px;
          margin-right: 8px;
          text-align: center;
          user-select: none;
          width: 40px;
        }
        .param
        {
          float: left;
        }
        .oper
        {
          float: left;
          margin-left: 8px;
        }
        .val
        {
          float: left;
          .val-check
          {
            float: left;
          }
          .val-name
          {
            float: left;
            margin-left: 4px;
            margin-right: 8px;
          }
        }
      }
    }
    .employees
    {
      clear: both;
      height: 100px;
      overflow: auto;
      .employee
      {
        float: left;
        .employee-check
        {
          float: left;
        }
        .employee-name
        {
          float: left;
          margin-left: 4px;
        }
      }
    }
  }
  .save-btn
  {
    background-color: lightblue;
    bottom: 20px;
    color: white;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 20px;
    text-align: center;
    width: 60px;
  }
}
