@import './colors';
@import './common';
.questionnaire_managmnet-container {
  .questionnaire-statistic-warper {
    .questionnaire-statistic-state-percentage {
      float: left;
      border-width: 1px;
      border-color:  rgba(179,179,179,.3);
      border-style: solid;
      width: 534px;
      height: 68px;
    }
    .questionnaire-statistic-time-data {
      border: 1px solid #edeefc;
      background-color: rgba(74, 85, 229, 0.1);
      height: 68px;
      margin-left: 540px;
      display: flex;
      justify-content: space-between;
      questionnaire-statistic-info {
        width: 33%;
        .statistic-info {
          width: 100%;
        }
        .info-percentage {
          font-size: 18px;
        }
      }
    }
  }
}
