@import './colors';
@import './common';

.resend_all_modal {
  z-index: 100;
  position: fixed;
  background: $workships-white;
  border-top:4px solid #4A55E5;
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: 150px;
  left: 550px;
  top: 130px;
  padding: 15px 20px 20px 20px;
  .modal_x{
    width: 10px;
    height: 10px;
    float: right;
  }
  .title {
    text-transform: uppercase;
    text-align: center;
    color: rgb(74, 85, 229);
  }
  .modal-contnet {
    margin-top: 40px;
  }
  .option-cls {
    position: absolute;
    text-align: center;
    bottom: 20px;
    right: 30px;
    .resend-all-btn {
      width: 140px;
      display: inline-block;
      line-height: 30px;
      height: 30px;
      color: white;
      font-weight: 600;
      background: blue;
    }
    .cancel-btn {
      display: inline-block;
      font-size: 12px;
      margin-right: 25px;
      text-decoration: underline;
    }
  }
}