@import './colors';
@import './common';
.tab-level-wrapper {
  .level-2-container{
    display: flex;
    flex-direction: column;
    color: $workships-text-dark-blue;
    font-size: 14px;
    width: 100%;
    .level-2-sub-container {
      .top-level-comment {
        margin-top: 30px;
        margin-left: 35px;
      }
    }
    .gauge_and_blood{
      display: flex;
      .gauge-wrapper {
        padding-right: 107px;
        margin-left: 50px;
        margin-bottom: 80px;
      }
      .blood_container{
        /*margin-left: 107px;*/
        margin-top: 20px;
        .blood_title {
          display: flex;
          /*margin-bottom: 17px;*/
          .icon{
            background-color: #4d4d4d;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .measurement_icon{
              width: 14px;
              height: 10px;
              margin-bottom: 4px;
            }
          }
          .blood_title_text{
            text-transform: uppercase;
            margin-left: 17px;
            font-size: 14px;
            color: rgb(77,77,77);
          }
        }
        .blood-wrapper {
          display: flex;
          /*align-items: center;*/
          flex-direction: column;
          justify-content: space-around;
        }
      }
    }
    .remarks_level_2{
      display: flex;
      .gauge_remark_container{
        display: flex;
        margin-left: 35px;
        .info{
          display: inline-block;
          margin-left: 12px;
          margin-right: 8px;
          margin-top: 1px;
          background-repeat: no-repeat;
          width: 13px;
          height: 13px;
        }
        .gauge_remark_text{
          width: 250px;
          font-weight: 400;
          color: #4d4d4d;
          font-size: 14px;
        }
      }
      .observation_container{
        padding-top: 7px;
        width: 250px;
        display: flex;
        margin-left: 76px;
/*        .star_box{
          display: flex;
          justify-content: center;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          margin-right: 9px;
          .star_img{
            width: 14px;
            height: 10px;
            margin-top: 3px;
          }
        }*/
        .observation_text{
/*          font-size: 14px;
          font-weight: 400;
          color: rgb(77,77,77);*/
        }
      }
    }
  }
  .level-3-container {
    width: 99%;
    /*  margin-bottom: 50px;*/
    padding-top: 50px;
    .sub-header {
      font-weight: 400;
      line-height: 36px;
      width: 110%;
      border-bottom: 1px solid $workships-border-grey-v2;
    }
    .level-3-wrapper{
      display: flex;
      width: 100%;
      margin-top: 30px;
      .description_text {
        width: 170px;
      }
      .gauge-wrapper{
        padding-left: 55px; 
        .empty-gauge-title {
          position: absolute;
          font-size: 14px;
          left: 70px;
        }
        .gauge_remark_container{
          display: flex;
          margin-top: 65px;
          margin-left: -15px;
          .info{
            display: inline-block;
            margin-left: 12px;
            margin-right: 8px;
            margin-top: 1px;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
          }
          .gauge_remark_text{
            width: 250px;
            font-weight: 400;
            color: #4d4d4d;
            font-size: 14px;
          }
        }
      }
      .level_3_data{  
        margin-left: 81px;
        .blood_container{
          margin-left: 63px;
          margin-top: 20px;
          .blood_title{
            display: flex;
            /*margin-bottom: 17px;*/
            .icon{
              background-color: #4d4d4d;
              width: 22px;
              height: 22px;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .measurement_icon{
                width: 14px;
                height: 10px;
                margin-bottom: 4px;
              }
            }
            .blood_title_text{
              text-transform: uppercase;
              margin-left: 17px;
              font-size: 14px;
            }
          }
          .blood-wrapper {
            display: flex;
            /*align-items: center;*/
            flex-direction: column;
            justify-content: space-around;
          }
        }
        .flags_container{
          margin-bottom: 45px;
          .blood_title{
            .icon{
              .flags_icon{
                width: 12px;
                height: 12px;
              }
            }
            .blood_title_text{
            }
          }
          .flags_content{
            padding-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /*height: 45px;*/
            .flag_name {
              display: inline-block;
              /*text-transform: capitalize;*/
              vertical-align: top;
              font-size: 14px;
              font-weight: 400;
              text-align: left;
              color:  #4d4d4d;
              padding-top: 15px;
              width: 221px;
              .info{
                display: inline-block;
                margin-left: 12px;
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
    .sub-header::first-letter {
      text-transform: capitalize;
    }
  }
  .page-unavailable-title {
   font-style: italic;
   color: rgba(17, 47, 63, 0.5);
   font-size: 16px;
   margin-top: 5px;
  }
  .empty-gauge-level-4 {
    position: absolute;
    left: 35px;
  }
}

.info-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 3px;
  img {
    width: 11px;
    height: 11px;
  }
  .info {
    background-image: url(asset-path('info.png'));
    display: inline-block;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
  }
  .tool_tip_background{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .arrow-info {
    position: absolute;
    left: 9px;
    top: 17px;
    z-index: 1;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #333333 transparent;
    z-index: 6;
  }
  .info-content{
    color:white;
    text-align: center;
    padding: 5px 2px 5px 2px;
    position: absolute;
    top: 24px;
    left: -74px;
    border-width: 1px;
    border-color:  #b3b3b3;
    border-style: solid;
    background-color:  #112e3e;
    box-shadow: 0px 2px 7.36px 0.64px rgba(4, 50, 66, 0.2);
    width: 176px;
    /*height: 100%;*/
    z-index: 5;
  }
}
.level-4-container {
  padding-top: 50px;
  .dot {
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
  .level-4-title {
    padding-bottom: 20px;
    font-weight: 600;
    display: inline-block;
    .title-name {
      display: inline-block;
    }
    .title-name::first-letter {
      text-transform: capitalize;
    }
  }
  .level-4-gague {
    clear: both;
    margin-left: 50px;
  }
  .jump-to-explore-warper {
    margin-top: 11px;
    height: 40px;
  }
  .jump-to-explore{
    position: relative;
    margin-top: 11px;
    width: 150px;
    font-weight: 700;
    .jump-to-image {
      width: 31px;
      height: 31px;
      display: inline-block;
    }
    .jump-to-name {
      position: absolute;
      padding-top: 5px;
      margin-left: 13px;
      display: inline-block;
    }
  }
}
.description_container {

  .description_text {
    color:  #4d4d4d;
    width:250px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    display: inline-flex;
    float: right;
  }
}

.observation_align {
  position: absolute;

}


/*.flags_title {
  display: flex;
  .icon{
    background-color: #4d4d4d;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .measurement_icon{
      width: 14px;
      height: 10px;
      margin-bottom: 4px;
    }
  }
  .flags_title_text{
    text-transform: uppercase;
    margin-left: 17px;
    font-size: 14px;
    color: rgb(77,77,77);
  }
}*/