@import './colors';
@import './sizes';

.workships-canvas {
  .left-sidebar-background {
    /*background-color: $workships-grey;*/
    bottom: 0;
    left: 0;
    position: static;
    top: 70px;
    width: $workships-left-sidebar-width;
  }
  .content-wrapper {
    float: left;
    margin-top: -34px;
    position: relative;
    width: 100%;
    .main-view-right {
      background-color: white;
      height: 100%;
      position: relative;
      .view-content {
        background-color: white;
        position: relative;
      }
    }
    .main-view-right-expand {
      margin-left: 0;
    }
    .main-view-right-minimized {
      margin-left: $workships-left-sidebar-width;
    }
  }
  .left-sidebar-visability-button {
    height: 30px;
    left: $workships-left-sidebar-width - 14px;
    position: relative;
    top: 75px;
    width: 18px;
    z-index: 1000;
  }
  .left-sidebar-visability-button-minimized {
    left: 0;
  }
  .back-to-top-btn {
    bottom: 65px;
    display: hidden;
    left: 150px;
    position: fixed;
    z-index: 49;
  }
  .collapse-sidebar-btn {
    cursor: pointer;
    height: 30px;
    left: 229px;
    position: absolute;
    top: 92px;
    width: 18px;
    z-index: 102;
    &.in-blocked-state {
      z-index: 50;
    }
  }
  .app-overlay-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 39;
  }
  .overlay-blocker-grey {
    z-index: 50;
    /*background-color: rgba(0, 0, 15, 0.5);*/
  }
}
