<div class="sas-inner-cont">
  <div class="sas-guiding-text">
    After this point in the install process, the system will operate only using HTTPS. Therefore an SSL certificate is required.<br>
    Please upload an SSL certificate and the key that was used to generate it.
  </div>
  <br><br>

  <form id="sasform" action="/sa_setup/certs" method="post" enctype="multipart/form-data">

    <label class="sas-input-label">Certificate File:<br><br>
      <input class="sas-input-text" type="file" name="certFile[file]" accept="text/html">
    </label>

    <br><br>

    <label class="sas-input-label">Key File:<br><br>
      <input class="sas-input-text" type="file" name="keyFile">
    </label>

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

    <br><br><br><br>
    <button class="sas-submit-btn">Upload</button>

  </form>
</div>
