<div class="sas-inner-cont">
  <div class="sas-guiding-text">
    Welcome to Stepahead's initial setup screens. The following few screens will
    guide you through the process.
    <br>
    The first thing we'll need to know is whati's the system's network name?
  </div>
  <br><br>

  <form id="sasform" action="/sa_setup/server_name_set" method="post">

      <label class="sas-input-label">Server Name:
        <input class="sas-input-text" type="text" name="serverName">
      </label>

      <br><br><br><br>
      <button class="sas-submit-btn">Save</button>

  </form>
</div>
