<div class='bubble-container' ng-style="{'left': 245 + bubble[index] + 'px'}">
  <div class='bubble-wrapper' ng-show='show_idea'>
    <div class='bubble arrow-box' style="position: absolute;">  {{content}} </div>
  </div>
  <div class="bubble-sign-wrapper">
    <div class='bubble-sign clickable' ng-mouseover='show_idea = true' ng-mouseleave='show_idea = false'>i</div>
  </div>
</div>