<div class='collaboration-container' ng-controller='collaborationController' ng-init='init()'>
  <div ng-if ="data.companies.product_type!=='questionnaire_only'" class='level-title'> <div class='title-name'>Continue Learning New Things</div> </div>
  <tabs-level class='tabs-level-wrapper' top-selected-color="'rgb(144,88,232)'" ng-if='show_page' list='tab_levels' selected='selected_tab' on-click-func="changeTab"></tabs-level>
  <tab-level-content ng-if='show_page' data='selected_tab'></tab-level-content>
</div>
