
<div class='main' ng-controller='dashboardController' ng-init='init()'>
  <div class="overview_and_stat_wrapper">

    <div class='add-modal' ng-show='displayAddRowModal'>
      From Employee:<br>
      <input name='fromemp' ng-model='fromEmp' typeahead="emp.email for emp in emps" placeholder='Search' class="form-control"/>
      <br>
      To Employee:<br>
      <input name='toemp' ng-model='toEmp' typeahead="emp.email for emp in emps" placeholder='Search' class="form-control"/>
      <br>
      Message ID:<br>
      <input name='msgid' ng-model='messageId' type='text'/>
      <br>
      From type:<br>
      <select name='fromtype' ng-model='fromType'>
        <option value="1">Init</option>
        <option value="2">Reply</option>
        <option value="3">Forward</option>
      </select>
      <br>
      To type:<br>
      <select name='totype' ng-model='toType'>
        <option value="1">To</option>
        <option value="2">CC</option>
        <option value="3">BCC</option>
      </select>
      <br><br>
      <button ng-click='addEmailConnection()'>Add Connection</button>
    </div>

    <div class='communication-widgets-container'>
      <div class='communication-widget'>
        <h2 class='sub-header'>MEASURES DEBUGGER</h2>

        Snapshots: <select ng-model="selectedSnapshot" ng-options="x.name for x in snapshots"></select><br><br>
        Groups: <select ng-model="selectedGroup" ng-options="x.name for x in groups"></select>
        Measures: <select ng-model="selectedMeasure" ng-options="x.name for x in measures"></select> </br><br>
        <button ng-click='runPrecalculate(selectedGroup,selectedMeasure)'>Run Precalculate</button> </br>
        Measure: {{selectedMeasure.name}}
        <br>
        <br>
        <table>
          <tr><th>Employee</th><th>Score</th></tr>
          <tr ng-repeat="s in scores">
            <td>{{findEmployeeName(s.id)}}</td><td>{{s.measure}}</td>
          </tr>
        </table>

        <br><br>

        <h2 class='sub-header'>EMAILS NETWORK TABLE</h2>
        <button ng-click='openEmailModal()' style='margin-bottom: 10px;'>Add Email</button>
        From Email: <input type='text' ng-model='fromFilter'>
        <button ng-click='filterEmailData()'>Filter Email</button>
        <table>
          <tr><th>From</th><th>To</th><th>Msg ID</th><th>From Type</th><th>To Type</th><th>Actions</th></tr>
          <tr ng-repeat="n in network">
            <td>{{findEmployeeName(n.from_employee_id)}}</td>
            <td>{{findEmployeeName(n.to_employee_id)}}</td>
            <td>{{n.message_id}}</td>
            <td>{{decodeFromType(n.from_type)}}</td>
            <td>{{decodeToType(n.to_type)}}</td>
            <td><button ng-click='deleteEmailConnection(n.id)'>Delete</td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
