<div class="dashboard_insight_container" >
  <div class="insight-description" title='Very low {{algorithmName}} in {{group_name}}' ng-show='!goodMeasure'>{{descWord}} <div class="algorithm-name">{{algorithmName}}</div> in {{group_name}}</div>
  <div class="insight-description" title='Very high {{algorithmName}} in {{group_name}}'ng-show='goodMeasure'> {{descWord}} <div class="algorithm-name">{{algorithmName}}</div> in {{group_name}}</div>
  <div class="squares-container">
    <div class='square square_lvl_1' ng-class="{'red_1': !goodMeasure, 'green_1': goodMeasure, 'gray': score < 1}"></div>
    <div class='square square_lvl_2' ng-class="{'red_2': !goodMeasure, 'green_2': goodMeasure, 'gray': score < 2}"></div>
    <div class='square square_lvl_3' ng-class="{'red_3': !goodMeasure, 'green_3': goodMeasure, 'gray': score < 3}"></div>
    <div class='square square_lvl_4' ng-class="{'red_4': !goodMeasure, 'green_4': goodMeasure, 'gray': score < 4}"></div>
    <br>
  </div>
  <div class="tab-link-container">
    <div class='tab-img' ng-class="{'workflow': '{{mainTabName}}'==='Workflow', 'productivity': '{{mainTabName}}'==='Productivity', 'top_talent': '{{mainTabName}}'==='Top talent', 'collaboration': '{{mainTabName}}'==='Collaboration'}"> </div>
    <div class='tab-link' ng-click="jumpToTab();"> More Details in {{mainTabName}}</div>
  </div>
  <br>
  <br>
 </div>