<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6 form-group">
      <div class="input-group" id="DateDemo">
        <input type='text' id='weeklyDatePicker' placeholder="Select Week" />
      </div>
    </div>
  </div>
</div> -->
<!-- 
<div class='date-picker-container'>
  Week Period 
  <input ng-model="formData.dueDate" type="button" id="dueDate" name="dueDate" class="form-control" datepicker-options="dateOptions" datepicker-popup="MM-dd-yyyy" datepicker-append-to-body="true" is-open="data.isOpen" min-mode="week" datepicker-mode="day" show-button-bar="false" ng-click="data.isOpen = true"/>
</div>
 -->