<div ng-controller='editPinController' ng-init='init()' class="pin-container" >
  <div class ='saved-pin-wrapper clickable'  ng-mouseleave="hover = false"  ng-mouseover="hover = true" ng-class="{'selected': pin.id === selected.id  && selected.type === 'pin', 'edit-mode': pin_in_edit_mode === pin.id, 'on-hover': hover}" >
    <div ng-show= 'showRename' class='pin-view'>

      <div class='pin-area-select' ng-click='selectPin(pin)'>
        <img ng-show ="pin.id === selected.id && selected.type === 'pin'" class='saved-group-icon' src="<%= asset_path 'group_blue.png' %>">
        <img ng-show ="pin.id !== selected.id || selected.type !== 'pin'" class='saved-group-icon' src="<%= asset_path 'group_black.png' %>">
        <div class='saved-group-name'>{{pin.name}} </div>
      </div>
      <div class='edit-group-button' ng-mouseleave="edit_hover = false"  ng-mouseover="edit_hover = true" ng-show='isDirectoryPage()'>
        <img ng-show='edit_hover || (edit_preset.isCurrentPresetSelected(pin.id) && modalOn())' ng-click='showRenamePin()' alt="edit-button" src="<%= asset_path 'edit_preset_side_menu_hover.png' %>">
        <img ng-hide='edit_hover || (edit_preset.isCurrentPresetSelected(pin.id) && modalOn())' alt='edit-button' src="<%= asset_path 'edit_presetside_menu.png' %>">
      </div>
    </div>
  </div>
</div>