<div class='employee-display-widget-container' ng-init='init()' ng-controller='employeeDisplayWidgetController' ng-cloak>
  <div class='employee-details-wrapper animated'>
    <div class='employee-details slide' ng-repeat='employee in employee_list| arrayRangeFilter:displayed_range'>
      <div class='employee-pic'>
        <div class='employee-average'>
          {{displayTwoDigitsAfterDecimal(employee.current_avg)}}
        </div>
        <div class='employee-img'>
          <div ng-show='employee.pay_attention_flag' class='pay-attention-flag'></div>
          <img ng-class="{'group-mode-img': selected.group_overoll_state !== BOTTOM_UP_VIEW }" class='img-file' ng-src='{{employee.img_url}}' >
        </div>
        <div class='employee-number'>
          {{employee.index +1}}
        </div>
        <div class='employee-name' ng-class="{'clickable employee-name-link': selected.group_overoll_state !== BOTTOM_UP_VIEW}" ng-click='goToPersonalCard(employee)'>
          {{employee.display_name}}
        </div>
      </div>
      <employee-chart-directive
        last-month-global-trend = '{{selected.prev_org_avg}}'   current-month-global-trend='{{selected.current_org_avg}}' last-month-employee-trend = '{{employee.last_avg}}' current-month-employee-trend='{{employee.current_avg}}'>
      </employee-chart-directive>
    </div>
  </div >

  <div class='bottom-slide'>

    <div class='add-begin-cls' ng-click='addToBeginEmployeeList()'> <div class="line-left"></div> &lsaquo; </div>
    <div class='before-cls' ng-click='beforeEmplyee()'> &lsaquo; </div>
    <div class='add-end-cls' ng-click='addToEndEmployeeList()'> &rsaquo; <div class='line'></div> </div>
    <div class="next-cls" ng-click='nextEmployee()'> &rsaquo; </div>
  </div>
</div>
