<div class='employee-chart-container' ng-controller='employeeChartController' ng-init='init()'>
  <div class='chart-box' ng-style='box'>
    <div class='chart-number' ng-style='numberStyle'>{{number}}</div>
  </div>
</div>
