<div class="menu-warp">
  <div class='prev-emp clickable' ng-click='showEmployeePersonalCard(prev_employee)'>
     <div class='symbol'>&lt; </div> {{prev_employee.first_name + " " + prev_employee.last_name}} 
  </div>
  <div class='name-in-menu'>
    {{employee_to_card.first_name + " " + employee_to_card.last_name}}
  </div>
  <div class='next-emp clickable' ng-click='showEmployeePersonalCard(next_employee)' >
    {{next_employee.first_name + " " + next_employee.last_name}} <div class='symbol'> &gt; </div>
  </div>
</div>
<div class='personal-card-content'>
  <div class='left-panel'>
    <div class='user-image'><img ng-src="{{employee_to_card.img_url}}" alt=""/></div>
    <div class='img-continer'>
       <div class='empty-checkbox' checkbox value='employeeChecked(employee_to_card)' on-callback='checkEmployee(employee_to_card)' off-callback='uncheckEmployee(employee_to_card)' src='<%= asset_path "check_mark.png" %>'></div>
        <span class="vert-line"></span>
        <img class='clickable mini-icon-border' ng-src="<%= asset_path 'compare_on_card_off.png' %>" alt=""/>
        <span class="vert-line"></span>
    </div>
    
    <div class='title'>First Name</div>
    <div class='content'>{{employee_to_card.first_name}}</div>
    <div class='title'>Last Name</div>
    <div class='content'>{{employee_to_card.last_name}} </div>
    <div class='title'>Age</div>
    <bars employees-by-attributes='age_list' emp-index='index_of_current_employee_age'></bars>
    <div class='title'>Seniority</div>
    <bars employees-by-attributes='seniority_list' emp-index='index_of_current_employee_seniority'></bars>
    <div class='title'>Rank</div>
    <bars employees-by-attributes='rank_list' emp-index='index_of_current_employee_rank'></bars>
    <div class='title'>Overview</div>
    <div class='measure-details' ng-repeat='measure in emp_scores_measures_list'>
      <div class='name'>{{measure.name}}</div>
      <red-green-triangle trend='measure.trend' rotate='false' class='trend'></red-green-triangle>
      <div class='number'>{{displayTwoDigitsAfterDecimal(measure.rate)}}</div>
    </div>
  </div>
  <div class='right-panel'>
    <div class='title'>Job title</div>
    <div class='content'>{{employee_to_card.job_title}} </div>
    <div class='title'>Organizition path</div>
    <div class='content'>{{getDivision(employee_to_card.group_id)}} 
      <div class='crumbs' ng-show='getDivision(employee_to_card.group_id) != undefined'> &gt; &gt; &gt; </div> {{employee_to_card.group_name}} 
    </div>
    <div class='title'>Office</div>
    <div class='content'>{{employee_to_card.office}} </div>
    <div class='title'>Reports to</div>
    <div class='img-list-cls'>
      <div ng-repeat='emp in formal_list' class='img-content'>
        <div class='emp-img'> <img ng-src='{{emp.img_url}}'></div>
        <div class='emp-name'>{{emp.first_name + " " + emp.last_name}}</div>
      </div>
    </div>
    <div class='title'>Reported by</div>
    <div class='img-list-cls'>
      <div ng-repeat='emp in subordinates_list' class='img-content'>
        <div class='emp-img'> <img ng-src='{{emp.img_url}}'></div>
        <div class='emp-name'>{{emp.first_name}}  {{emp.last_name}}</div>
      </div>
    </div>
    <div class='divider'></div>
    <div class='title'>Connected to</div>
    <pie-chart list-of-sectors='sectors_list' ng-show= 'sectors_list.length > 1'></pie-chart>
  </div>
</div>
