<div class="explore_content" ng-controller="NewGraphCtrl" ng-init="init()">
  <div class='strip' ng-show="tabService.current_tab === 'Explore'" ng-class="{ 'explore-strip': showMenu && !initial_strip_pos}">
    <!-- <div id='ruler' style='position:absolute;visibility:hidden;font-weight:400;font-family:sans-serif;font-size:12px;'></div> -->
    <div class='showing-p'>
      <div class='showing-p-bold'>
        SHOWING:&nbsp Metric Type:
          <select auto-width class='select-new strip-select short' select-inx='tab_inx' ng-model='tab' ng-options='k as v for (v, k) in tab_tree' ng-change='updateTab(tab)'></select>
      </div>
      <div class='showing-p-bold'>
        Metric:
          <select auto-width class='select-new strip-select' select-inx='measure_inx' ng-model='measure' ng-options='measure.measure_name for measure in analyze_data.metrics | filter:metricsByTabs()' ng-change='updateAlgorithm(measure)'></select>
      </div>

      <div class='showing-p-bold'>Color By:</div>
      {{graphService.group_by_name}},&nbsp
      <div class='showing-p-bold'>Time:</div>
      {{graphService.snapshot_id}}
      <div class='showing-higligthed' ng-if='show_higligthed'>
        ,&nbsp
        <div class='x-button clickable' ng-click='removehighLighted()'>
          <img class='x-image' src="<%=asset_path 'plus.png' %>">
        </div>
        <div class='higligthed-color'></div>
        <div class='showing-p-bold flag-name'> {{selected.flag_data.flag_name}} </div>
      </div>
    </div>
  </div>
  <div class='loading' ng-show='graphService.layout_in_process'>Loading...</div>
  <new-graph ng-class="{'explore_graph_full_screen': showMenu , 'explore_graph': !showMenu }"> </new-graph>
  <employee-card></employee-card>
  <div class='explore_setting_wrapper' ng-class="{'explore_setting':tabService.showExploreSettings && update_me(), 'explore_setting_hide': !tabService.showExploreSettings && update_me(), 'explore_setting_remove': tabService.removeExploreSetting && update_me() }">
    <div ng-include src="'explore_setting'"></div>
  </div>
</div>
