<div class="explore_setting">
  <div class="explore_setting_inner">
    <div ng-class="{'explore_setting_container' : tabService.activePanel}" ng-click='tabService.activePanel = false'></div>
    <div class="exit_x" ng-click='tabService.showExploreSettings = false'>
      <img class="exit-x-logo" src="assets/exploreSettings_imgs/X.png">
    </div>
    <div class="setting_title">EXPLORE SETTINGS</div>
    <div class="chosen-settings-state-container">
      <div class="network_data_panel">
        <div class="network_data_panel_clickable" ng-click="tabService.showTimelinePanel = !tabService.showTimelinePanel">
          <div class="network_data_panel_title">Timeline</div>
          <div class="network_data_panel_arrow">
            <img class="network_data_panel_arrow_img" ng-src="{{tabService.showTimelinePanel && 'assets/exploreSettings_imgs/Arrow_up.png' || 'assets/exploreSettings_imgs/Arrow_down.png'}}">
          </div>
        </div>
        <div class="network_data_panel_underline"></div>
        <div class="wrapper-network-window timeline small {{tabService.showTimelinePanel ? 'show' : ''}}">
          <div class="timeline-filter-window {{tabService.showTimelinePanel ? 'network_data_window' : 'network_data_window_hide'}}">
            <div class="network_data_panel_mini_title">Select a week to view </div>
            <!-- Select a week to view -->
            <select class='bar-element select-new snapshot' ng-model='snapshot_id' ng-options='snapshot.time for snapshot in snapshot_list' ng-change='changeSnapshot(snapshot_id)'></select>
            <!-- <select-step list='snapshot_list' display-key="'time'" selected='snapshot_id' on-click-func="changeSnapshot"></select-step> -->
            <!-- <date-picker selected-week></date-picker> -->
          </div>
        </div>
      </div>
      <div class="network_data_panel">
        <div class="network_data_panel_clickable" ng-click="tabService.showGroupByPanel = !tabService.showGroupByPanel">
          <div class="network_data_panel_title">Color By</div>
          <div class="network_data_panel_arrow">
            <img  class="network_data_panel_arrow_img" ng-src="{{tabService.showGroupByPanel && 'assets/exploreSettings_imgs/Arrow_up.png' || 'assets/exploreSettings_imgs/Arrow_down.png'}}">
          </div>
        </div>
        <div class="network_data_panel_underline"></div>
        <div class="color_by wrapper-network-window {{tabService.showGroupByPanel ? 'show' : ''}}">
          <div class="group_by_window {{tabService.showGroupByPanel ? 'network_data_window' : 'network_data_window_hide'}}">
            <select class='bar-element select-new' ng-class="{'huge_graph_mode': graphService.inHugeGraphState()}" ng-model='group_by' ng-options='group_by.display for group_by in group_by_list' ng-change='updateGroup(group_by)'  ng-disabled='graphService.inHugeGraphState()'></select>
            <!-- <select-step list='group_by_list' display-key="'display'" selected='group_by' on-click-func="updateGroup"></select-step> -->
            <div class="grouping_buttons">
              <div class='group_btn clickable' ng-class="{'group_btn_selected': groupAllNodes}" ng-disabled='can_expend_all.value' ng-click="graphService.groupAll(); groupAllNodes = true; ungroupAllNodes = false">
                <img class='icon_box' alt="group_all" src="assets/exploreSettings_imgs/group.png">
                <div class="group_name">Group all</div>
              </div>
              <div class='group_btn clickable' ng-class="{'group_btn_selected': ungroupAllNodes && !graphService.inHugeGraphState(), 'huge_graph_mode': graphService.inHugeGraphState()}" ng-disabled='can_expend_all.value' ng-click="clickOnUnGroupAll()">
                <img class='icon_box_ungroup' alt="ungroup_all" src="assets/exploreSettings_imgs/ungroup.png">
                <div class="group_name">Ungroup all</div>
              </div>
            </div>
            <description-tooltip ng-show='graphService.inHugeGraphState()' text="'Ungroup is only avalable for groups with less than 300 employees'"> </description-tooltip>
          </div>
        </div>
      </div>
      <div class="network_data_panel">
        <div class="network_data_panel_clickable" ng-click="tabService.showFilterEdgesPanel = !tabService.showFilterEdgesPanel">
          <div class="network_data_panel_title">Filter Edges</div>
          <div class="network_data_panel_arrow">
            <img class="network_data_panel_arrow_img" ng-src="{{tabService.showFilterEdgesPanel && 'assets/exploreSettings_imgs/Arrow_up.png' || 'assets/exploreSettings_imgs/Arrow_down.png'}}">
          </div>
        </div>
        <div class="network_data_panel_underline"></div>
        <div class="wrapper-network-window small edge-filter {{tabService.showFilterEdgesPanel ? 'show' : ''}}">
          <div class="edge-filter-window {{tabService.showFilterEdgesPanel ? 'network_data_window' : 'network_data_window_hide'}}">
            <div class="network_data_panel_mini_title display_from">From
              <input class="filter_edges_input" type='number' ng-model='edge_sizes_range.from' min='0' max='{{edge_sizes_range.to}}' ng-change='setEdgeFilter()'/>
            </div>
            <div class="network_data_panel_mini_title space_from_to">To
              <input class="filter_edges_input" type='number' ng-model='edge_sizes_range.to' min='{{edge_sizes_range.from}}' max='6' ng-change='setEdgeFilter()'/>
            </div>
          </div>
        </div>
      </div>
      <div class="network_data_panel">
        <div class="network_data_panel_clickable" ng-click="tabService.showLayoutPanel = !tabService.showLayoutPanel">
          <div class="network_data_panel_title">Layout</div>
          <div class="network_data_panel_arrow">
            <img class="network_data_panel_arrow_img" ng-src="{{tabService.showLayoutPanel && 'assets/exploreSettings_imgs/Arrow_up.png' || 'assets/exploreSettings_imgs/Arrow_down.png'}}">
          </div>
        </div>
        <div class="network_data_panel_underline"></div>
        <div class="wrapper-network-window small {{tabService.showLayoutPanel ? 'show' : ''}}">
          <div class="layout-window {{tabService.showLayoutPanel ? 'network_data_window' : 'network_data_window_hide'}}">
            <select class='bar-element select-new capitalize' ng-model='layout' ng-options='layout.name for layout in layouts_list' ng-change='updateLayout(layout)'></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>