<div class='dropdown-with-title'>

<script id="template/pagination/pagination.html" type="text/ng-template">
  <ul class="pagination">
    <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(1)" title="First Page"> <div class="pagination-nav">&laquo;</div></a></li>
    <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(page - 1)" title="Previous Page"><div class="pagination-nav">&lsaquo;</div></a></li>
    <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href ng-click="selectPage(page.number)"><div class='page-number'>{{page.text}}</div></a></li>
    <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(page + 1)" title="Next Page"><div class="pagination-nav">&rsaquo;</div></a></li>
    <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(totalPages)" title="Last Page"><div class="pagination-nav">&raquo;</div> </a></li>
  </ul>
</script>

  <div class='filter-bar'>
    <div class='left'>
      <div class='label'>Show</div>
      <div dropdown-with-title title={{title}} options='statuses'></div>
      <div class='search-box'>
        <input type='text'  class='search-input' placeholder='Search' ng-model='search_input' typeahead-on-select='setSearch($item)' typeahead='emp.name for emp in fetchNodeNames() | nameStartWith:$viewValue | limitTo:5' typeahead-editable='false'>
        <div class='clear-search clickable' ng-click='clearSearch()' ng-show='search_input.length !== 0'></div>
      </div>
    </div>
    <div class='right'>
      <div class='warrper-flash'>
        <div  ng-show='questionnaire_service.show_flash' class='flash-message'> {{questionnaire_service.flash_text}}</div>
      </div>
      <div class='resend-all clickable' ng-click='onResendAll()'>Resend All</div>
    </div>
  </div>
  <div class='pagination-class' ng-hide='total_items <= page_size'>
    <pagination boundary-links="true" items-per-page='page_size' total-items="total_items"  max-size="maxSize" ng-model="current_page" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
  <table class='employees_table'>
    <tr class='employees_table_header'>
      <th class='image-th'></th>
      <th class='employee-th'>EMPLOYEE</th>
      <th class='position-th'>POSITION</th>
      <th class='status-th'>STATUS</th>
      <th class='answered-th'>ANSWERED Q.</th>
      <th class='last-action-th'>LAST ACTION</th>
      <th class='resend-th'>RESEND</th>
      <th class='resend-th'>RESET</th>
      <th> </th>
    </tr>
      <tr class='employees_table_table_row' ng-repeat='q_p in filtered_employees | startFrom: (current_page + - 1) * page_size | limitTo: page_size'>
        <td class='image-td'><img src='{{data_model.getEmployeeById(q_p.employee_id).img_url}}'></td>
        <td class='employee-name'>{{data_model.getEmployeeById(q_p.employee_id).first_name}} {{data_model.getEmployeeById(q_p.employee_id).last_name}}</td>
        <td class='employee-role'>{{data_model.getEmployeeById(q_p.employee_id).role_type}}</td>
        <td employee-status='q_p.status'></td>
        <td class='employee-answered-number'>{{q_p.answered}}</td>
        <td class='employee-last-action'>{{q_p.last_action}}</td>
        <td class='employee-resend'><div class='emp-action resend clickable centered' ng-click='onResendEmp(q_p)'>Resend</div></td>
        <td class='employee-resend'><div class='emp-action reset clickable centered' ng-click='onResetEmpQuestionnaire(q_p)' ng-class="{disabled: q_p.status=='notstarted'}">Reset</div></td>
      </tr>
  </table>
</div>
