<div  class = "flag-widget-container" ng-controller='flagsWidgetController' ng-init='init()'>
  <div class='jump-to-explore clickable' ng-show='emps_with_details.length > 0'ng-click='jumpToExplore()'>
    <div class='jump-to-image'><img ng-src='{{jumpToExploreImage()}}'> </div>
    <div class='jump-to-name clickable' ng-style='getColor()'>view in Explore</div>
  </div>
  <div class = "flag-title">
    <div ng-show='show_bredcrumbs && selected.group_overoll_state !== BOTTOM_UP_VIEW' class='view-bredcrumbs'>
      <div class='space'> | </div>
      <div ng-repeat='bread_crumb in bread_crumbs_list' class='bread-crumbs' ng-show='current_group_index <= $index'>
          <div class='crumb clickable' ng-class="{'last' : $last }" ng-style="set_color($last, bread_crumb.id)" ng-click='selectGroup(bread_crumb.id)'>{{bread_crumb.name}}</div>
          <div class='crumb space-crumb' ng-if=!$last>&gt;</div>
      </div>
    </div>
  </div>
  <div class="flagged-emp-box" ng-style="flagged_emp_box_width">
    <div ng-show='!isEmptyFlag()'>
      <div class='slide-left clickable' ng-click='prev()'>
        &lsaquo;
      </div>
      <div class='flagged-emp-inner-box'>
        <div class='flagged-emp-element' ng-repeat = "flagged in emps_with_details  | arrayRangeFilter:displayed_range">
          <div ng-show='selected.group_overoll_state !== BOTTOM_UP_VIEW' ng-class='{clickable: flagged.type === GROUP}' ng-click='addSubGroupFlag(flagged.id , flagged.type)' ng-right-click='removeSubGroup(flagged.group_parent)'>
            <div class='flagged-emp-img'>
              <img class='img-file' ng-src='{{flagged.img_url}}'>
            </div>
            <div class='flag-number'>
              {{flagged.index +1 }}
            </div>
            <div class='flagged-emp-name' ng-click='goToPersonalCard(flagged)' ng-class="{'emp-card-link':flagged.type !== GROUP, 'clickable':flagged.type !== GROUP}">
              <div title="{{flagged.display_name}}"  class='flagged-group-name'>
                {{flagged.display_name}} 
              </div>
              <div class='flagged-employee-number' ng-show='flagged.type === GROUP'>
                ({{flagged.employee_number}})
              </div>
            </div>
          </div>

          <div ng-show='selected.group_overoll_state === BOTTOM_UP_VIEW'>
            <div class='flagged-emp-img'>
              <img class='img-file' ng-src='{{flagged.img_url}}'>
            </div>
            <div class='flag-number'>
              {{flagged.index +1 }}
            </div>
            <div class='flagged-emp-name clickable emp-card-link' ng-click='goToPersonalCard(flagged)'>
              {{flagged.display_name}}
            </div>
          </div>
        </div>
      </div>
      <div class='slide-right clickable' ng-click='next()'>
        &rsaquo;
      </div>
    </div>
    <div ng-show='isEmptyFlag()'>
      <div class='empty-box-title'> This box display employees which the system has identified as {{flagName}}. 
      </div>
      <div class='empty-box-content'>
        As with other measures, it is recommended to explore this indication further with <br>
        other system tools and your own interventions. <br>
        Currently, there are no such employees identified. 
      </div>
    </div>
  </div>
</div>


 