<div class='footer'>
  <div class='link'>Terms &amp; Conditions</div>
  <div class='link'>Privacy</div>
  <div class='link'>FAQ</div>
  <div class='link'>Support</div>
  <div class='link'>Contact Us</div>
  <div class='link'>About</div>
  <div class='link'>Blog</div>
  <div class='link'>My Profile</div>
  <div class='ws-version'>{{VERSION}}</div>
  <div class='copyright'>&copy; Copyright 2014</div>
</div>
