<div class='graph-widget' ng-controller='graphWidgetController' ng-init='init()'>
  <div class='graph-widget-header'>
    <div class='measure-trend'>
      <red-green-triangle trend='trend' rotate='rotate' class='trend'></red-green-triangle>
      <div class='avg'>{{avg}}</div>
    </div>
  </div>

  <div class='graph-content'>
    <div class='graph-content-header'>
      <div class='button-container'>
        <div class='date-resolution clickable' ng-click='setGraphResolution(MONTH)' ng-class="{'date-resolution-selected' : graph_resolution===MONTH}">Months</div>
        <div class='date-resolution clickable' ng-click='setGraphResolution(YEAR)' ng-class="{'date-resolution' : graph_resolution===YEAR}">Years</div>
      </div>
    </div>
    <div class='date-selectors-container'>
      <div class='date-button left-button clickable' ng-click='prev()'>&lsaquo;</div>
      <div style='height: 230px; overflow: hidden;'>
        <div style='float: left; width: 117px;' ng-repeat='gd in gdata | arrayRangeFilter:dates_range' >
          <div class='date-heading clickable' ng-click='onDateSelect(gd.date, gd.lsnapshotid, gd.csnapshotid, gd.lgroup1, gd.cgroup1)'>{{gd.date}}</div>
          <div class='graph-element-l graph-container' ng-style='dateSelected(gd.date)'>
            <div class='small-arrow' ng-if='gd.date === date_selected'></div>
            <div class='graph-horizontal-line-0'></div>
            <div class='graph-horizontal-line-50'></div>
            <div class='graph-horizontal-line-100'></div>
            <div class='graph-all-1' ng-style='setLineStyleLeft(gd.lgroup1, gd.cgroup1)'>
              <div class='graph-dot-wrapper clickable' ng-mouseover='hover1 = true' ng-mouseleave='hover1 = false'>
                <div class='graph-dot-1 clickable' ng-mouseover='hover1 = true' ng-mouseleave='hover1 = false'></div>
                <div class='graph-dot-tip' ng-class="{ 'top-tool-tip': gd.cgroup1 > 8}" ng-style='setTooltipStyle(gd.lgroup1, gd.cgroup1)' ng-show='hover1'>{{toSinglePrecision(gd.cgroup1)}}</div>
              </div>
            </div>

            <div class='graph-all-3' ng-show='gd.score' ng-style='setLineStyleLeft(gd.lgroup3, gd.cgroup3)'>
              <div class='graph-dot-wrapper clickable' ng-mouseover='hover3 = true' ng-mouseleave='hover3 = false'>
                <div class='graph-dot-3 clickable' ng-mouseover='hover3 = true' ng-mouseleave='hover3 = false'></div>
                <div class='graph-dot-tip' ng-class="{ 'top-tool-tip': gd.cgroup3 > 8}" ng-style='setTooltipStyle(gd.lgroup3, gd.cgroup3)' ng-show='hover3'>{{toSinglePrecision(gd.score)}}</div>
              </div>
            </div>

          </div>
          <div class='graph-element-r graph-container' ng-style='dateSelected(gd.date)'>
            <div class='graph-horizontal-line-0'></div>
            <div class='graph-horizontal-line-50'></div>
            <div class='graph-horizontal-line-100'></div>
            <div class='graph-all-3'  ng-show='gd.score' ng-style='setLineStyleRight(gd.cgroup3, gd.ngroup3)'></div>
            <div class='graph-all-1' ng-style='setLineStyleRight(gd.cgroup1, gd.ngroup1)'></div>
          </div>
        </div>

        <div style='float: left; width: 117px;' ng-repeat='ed in edata | arrayRangeFilter:empty_dates_range' >
          <div class='date-heading clickable'>{{ed.date}}</div>
          <div class='graph-element-l graph-container'>
            <div class='graph-horizontal-line-0'></div>
            <div class='graph-horizontal-line-50'></div>
            <div class='graph-horizontal-line-100'></div>
          </div>
          <div class='graph-element-r graph-container'>
            <div class='graph-horizontal-line-0'></div>
            <div class='graph-horizontal-line-50'></div>
            <div class='graph-horizontal-line-100'></div>
          </div>
        </div>
      </div>
      <div class='date-button right-button clickable' ng-click='next()'>&rsaquo;</div>
    </div>
  </div>
</div>
