<div class="user-card" >
  <div class="user-card-head-warp">
    <div class="user-card-head">
      <div class="user-card-head-left clickable" >{{group.name}}</div>
      <div class="user-card-head-right">
        <div checkbox value='groupChecked(group.char)' on-callback='checkGroup(group.char)' off-callback='uncheckGroup(group.char)' src='<%= asset_path "check_mark.png" %>'></div>
        <img class='clickable mini-icon-border' ng-hide='modalOn()' ng-src="<%= asset_path 'compare_on_card_off.png' %>" alt=""/>
      </div>
    </div>
  </div>
  <div class="user-card-content-warp">
    <div class="user-card-content">
      <div class="clear"></div>
      <div class="user-id-warp">
        <div class="user-id">
          <div class="group-image"><img ng-src="{{group.img_url}}" alt=""/></div>
          <div class="user-id-job-titles">
            <div  class="job-title  group-title">Employee total <br>number - {{group.total_employees}}</div>
            <div class="division" >Division: {{group.division}}</div>
            <div class="dept">Dept: {{group.department}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>