<div title='{{group.name}}'>
  <div class="group-name" ng-class="{'selected-explore': selectedInExplore}">
    <span ng-style='{{stylecolor}}'>
      <div class="group-icon">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
          <defs></defs>
          <title>icon</title>
          <path ng-attr-fill="{{stylecolor}}" class="cls-1" d="M2.12,8.26L4,7.35,4.81,7A2.07,2.07,0,0,1,4,6a2.72,2.72,0,0,1-.23-1.09,3.28,3.28,0,0,1,.07-0.64,2.4,2.4,0,0,1,.71-1.22A1.77,1.77,0,0,1,7,3a2.43,2.43,0,0,1,.72,1.19,3.3,3.3,0,0,1,.07.33,2.15,2.15,0,0,1,0,.35A2.53,2.53,0,0,1,7.5,6.06,2.09,2.09,0,0,1,6.68,7L7.45,7.35l2,0.91a0.5,0.5,0,0,1,.28.48V10.9a0.56,0.56,0,0,1-.13.37,0.39,0.39,0,0,1-.31.16h-7A0.4,0.4,0,0,1,2,11.26a0.56,0.56,0,0,1-.13-0.37V8.74a0.5,0.5,0,0,1,.28-0.48h0ZM8.23,7A1.41,1.41,0,0,1,7.9,6.7a3,3,0,0,0,.4-0.83,3.28,3.28,0,0,0-.1-2.19A2,2,0,0,1,8.58,3.5,1.25,1.25,0,0,1,9,3.43a1.36,1.36,0,0,1,.63.15,1.68,1.68,0,0,1,.51.4,1.93,1.93,0,0,1,.35.6,2.1,2.1,0,0,1,.13.73,2.07,2.07,0,0,1-.24,1A1.76,1.76,0,0,1,9.74,7l2.2,1a0.37,0.37,0,0,1,.23.4v1.73a0.46,0.46,0,0,1-.1.3,0.32,0.32,0,0,1-.26.12H10.35V8.74a1.21,1.21,0,0,0-.18-0.64,1.09,1.09,0,0,0-.49-0.43Z"/></path>
        </svg>
      </div>
    </span>
    <span ng-style='bolden_line'>{{group.name}}</span>
  </div>
  <div class='employees-quantity'>({{group.employees_ids.length}})</div>
</div>

