<div ng-class="{'{{atab.tab_class.toLowerCase().replace(' ', '_')}}_tab_selected' : atab.selected }">
  <div class="icon_container">
  <!-- div class="icon_container" style='{{get_container_style()}}' -->
    <img style='{{get_img_style()}}' ng-src="{{get_img()}}">
  </div>
  <div class="icon_name">{{atab.name}}</div>
  <div ng-class="{'tab_selected_arrow' : atab.selected}" ng-style="{'border-bottom-color': atab.border_color}"></div>
</div>
