<div class='dashborad-widgets-container' ng-controller='metricWidgetController'  ng-init='init()' ng-style="dashboradWidgetsContainerStyle" ng-cloak>
   <graph-widget-directive measure-data='measureData' selected='selected' graphsize='graphsize' external-data-metric='externalDataMetric' metric-id='metricId'> </graph-widget-directive>
   <employee-display-widget-directive selected='selected' employee-list-details='employee_list_details' employee-display-number="employeeDisplayNumber"></employee-display-widget-directive>
</div>
