<div ng-class="{'{{atab.tab_class.toLowerCase()}}_tab_selected' : atab.selected }">
  <div class='icon_name' ng-class="{'mini_icon_name': tabService.showMiniHeader}">{{atab.name}}</div>
  <div ng-class="{'tab_selected_arrow' : atab.selected, 'mini_arrow': tabService.showMiniHeader}" ng-style="{'border-bottom-color': atab.border_color}"></div>
</div>