<div class='analyze-container-wrap' ng-controller='NewGraphCtrl' ng-init='init()'>
  <div id="fullScreen" fullscreen>
    <div floaty top='0' scroll-fix = 'true' fix-width='true' fix-width-analyze='true' class="analyze-container">
      <graph-header></graph-header>
      <employee-card></employee-card>
      <new-graph></new-graph>
    </div>
  </div>
</div>