<div class="page-unavailable-container">
  <div class='page-unavailable-clock-img-container'>
    <img class="page-unavailable-clock-img" src="<%= asset_path 'page_unavailable_clock.png' %>"/>
  </div>
  <div class='page-unavailable-title'>Will be available in future versions</div>
</div>