<div class='top-talnet-container' ng-controller='productivityController' ng-init='init()'>  
  <div class='level-title'> <div class='title-name'>Continue Learning New Things </div> </div>
  <tabs-level class='tabs-level-wrapper' top-selected-color="'rgb(237,30,121)'" ng-if='show_page' list='tab_levels' selected='selected_tab' on-click-func="changeTab"></tabs-level>
  <tab-level-content ng-if='show_page' data='selected_tab'></tab-level-content>
</div>