<div class='dropdown-with-title' click-outside='close()' is-active='open'>
  <div class='dropdown {{open ? "open" : ""}} clickable' ng-click='toggle()'>{{title}}<div ng-hide='hideArrow && open' class='dropdown-arrow'></div></div>
  <div class='dropdown-options' ng-show='open'>
    <div class='dropdown-item clickable'
      ng-repeat='o in options'
      ng-click='o.onClick();toggle()'>
      {{o.name}}
    </div>
  </div>
</div>