<div class='recatngle-img' >
  <img ng-show ='!trend' ng-class="{'rotate-180' :rotate}" alt="rectangle_red" src="<%= asset_path 'rectangle_up_arrow.png' %>" >
  <img ng-show ='trend' ng-class="{'rotate-180' :rotate}" alt="rectangle_green" src="<%= asset_path 'rectangle_down_arrow.png' %>" >
</div>