<div class='setting-container' ng-controller='SettingsController' ng-init='init()'>
  <div class='questionnaire-title'>
    <div ng-show='questionnaire_table' class='back clickable' ng-click='backToQuestionnaire()'>
      <img src="<%= asset_path 'arrow_back_quest.png' %>">
      <span>Back</span>
    </div>
    <div>QUESTIONNAIRE MANAGMENT</div>
    <div class="submit-results" ng-show='questionnaire_table && isQuestionnaireOnly()' ng-click='freezeQuestionnaire()' ng-class="{disabled: inFreezQuestionnaireState}">{{freezeState}}</div>
  </div>
  <div ng-if='questionnaires.length === 0'>
    <div class='empty-questionnaire-page'> <img src="<%= asset_path 'settings-empty-questionnairs.png' %>"> </div>
    <div class='no-questionnaire-p'> You Haven't Sent a <br> Questionnaire yet! </div>
  </div>
  <div ng-if=' questionnaires.length > 0 && !questionnaire_table'>
    <div class='questionnaire_line' ng-click='get_employees_for_questionnaire(questionnaire_information.questionnaire)' ng-repeat='questionnaire_information in questionnaires'  ng-class="{selected: questionnaire_information.questionnaire.state !== 'completed'}">
      <div class="questionnaire_name"> {{questionnaire_information.questionnaire.name}} </div>
      <div class="questionnaire_state"> {{questionnaire_information.questionnaire.state}} </div>
      <div class="questionnaire_completed"> {{questionnaire_information.num_of_active}} Employees</div>
      <div class="questionnaire_participants"> {{questionnaire_information.completed_participants}} </div>
      <div class="questionnaire_created_at"> {{questionnaire_information.questionnaire.created_at}} </div>
      <div class="questionnaire_total_time"> {{questionnaire_information.questionnaire.sent_date}} {{questionnaire_information.questionnaire.completed_at}}</div>
      <div class="right-arrow"></div>
      <div class="questionnaire_view"> view </div>
    </div>
  </div>

  <div ng-include="'questionnaire_managmnet_view'" ng-show='questionnaire_table'></div>
</div>
