<div class="statistics_card_container" ng-click="goToLink()" ng-class="{ pointer_force: isLink()}"
     ng-mouseenter="showToolTip=true; tabService.stopSpinning=true" ng-mouseleave="showToolTip=false; tabService.stopSpinning=false;  ">
  <div class="tooltip_balloon" ng-show="showToolTip">
  {{details.tooltip}}
  </div>
  <div class="tooltip_balloon_triangle" ng-show="showToolTip"></div>
  <div class="stat_name">{{details.statistic_title}}</div>
  <div class="stat_img">
    <img ng-src="{{details.icon_path}}">
  </div>
  <div class="stat_data" >{{details.statistic_data}}</div>
</div>