<div class='tab-level-wrapper' ng-show='active === true'>
  <div ng-if ="data.product_type!=='questionnaire_only'" class='level-2-container'>
    <page-unavailable ng-show='data.children.length === 0 && data.name !== "Communication dynamics"' class=''></page-unavailable>
    <div class='level-2-sub-container' ng-if='data.name === "Communication dynamics"'>
      <div ng-if='!data.list_of_sectors && topLevel(data.group_id)' class='top-level-comment'><i>Click a specific department to view communication dynamics</i></div>
      <div ng-if='!data.list_of_sectors && !topLevel(data.group_id)' class='top-level-comment'><i>No communication data is available for this department</i></div>
      <!-- <div ng-if='allZeros(data.list_of_sectors)' class='top-level-comment'><i>No communication data is available for this department</i></div> -->
      <pie-chart ng-if='data.list_of_sectors' list-of-sectors='data.list_of_sectors' group-id='data.group_id'></pie-chart>
    </div>
    <div class='level-2-sub-container' ng-show='data.children.length > 0'>
      <div class="gauge_and_blood">
        <div class="gauge-wrapper">
          <measurement-gauge min-range='data.gauge.min_range' max-range='data.gauge.max_range' min-range-wanted='data.gauge.min_range_wanted'
            max-range-wanted='data.gauge.max_range_wanted' rate="getGaugeParam(data.company_metric_id, 'rate')" radius='120' title-name='data.gauge.title'
            background-color='data.gauge.background_color' wanted-area-color='data.color' company-metric-id='data.company_metric_id'>
          </measurement-gauge>
          <div class='page-unavailable-title' ng-show="isGaugeEmpty(getGaugeParam(data.company_metric_id, 'rate'), data.company_metric_id)"> Will be available in future versions</div>
        </div>
        <div class="blood_container">
          <div class="blood_title">
            <div class="icon">
              <img class="measurement_icon" src="/assets/measurements.png">
            </div>
            <div class="blood_title_text">measurements</div>
          </div>
          <div class="blood-wrapper clickable" ng-repeat="blood in data.children" ng-click="gotoAnchor($index + 10)">
            <blood-test name='blood.name' color='data.gauge.background_color' valid-color='data.color' min="getGaugeParam(blood.company_metric_id, 'min_range')"
              max="getGaugeParam(blood.company_metric_id, 'max_range')" value="getGaugeParam(blood.company_metric_id, 'rate')" minvalid-value="getGaugeParam(blood.company_metric_id, 'min_range_wanted')" 
              maxvalid-value="getGaugeParam(blood.company_metric_id, 'max_range_wanted')" text='{{blood.description}}' ng-init='gauge_exists=true'>
            </blood-test>
          </div>
        </div>
      </div>
      <div class="remarks_level_2">
        <div class="gauge_remark_container">
          <description-tooltip text='data.description'> </description-tooltip>
        </div>
        <observation color='data.color' pic-path="assets/star.png" text="{{data.observation}}"></observation>
      </div>
    </div>
  </div>
  <div class='level-3-container' ng-repeat='level3_data in data.children' id="{{$index + 10}}">
    <div ng-if ="data.product_type!=='questionnaire_only'" class="sub-header"> {{level3_data.name}}</div>
    <div ng-if ="data.product_type!=='questionnaire_only'" class='level-3-wrapper'>
      <div class="gauge-wrapper">
      <!-- old gauge level 3  -->
      <!--    <measurement-gauge min-range='level3_data.gauge.min_range' max-range='level3_data.gauge.max_range' min-range-wanted='level3_data.gauge.min_range_wanted'
            max-range-wanted='level3_data.gauge.max_range_wanted' rate="getGaugeParam(level3_data.company_metric_id, 'rate')" radius='100' title-name='level3_data.gauge.title'
            background-color='data.gauge.background_color' wanted-area-color='level3_data.color' company-metric-id='data.company_metric_id'>
          </measurement-gauge> -->
        <measurement-gauge min-range="getGaugeParam(level3_data.company_metric_id, 'min_range') !== undefined ? getGaugeParam(level3_data.company_metric_id, 'min_range') : 0" max-range="getGaugeParam(level3_data.company_metric_id, 'max_range') !== undefined ? getGaugeParam(level3_data.company_metric_id, 'max_range') : 1" min-range-wanted="getGaugeParam(level3_data.company_metric_id, 'min_range_wanted') !== undefined ? getGaugeParam(level3_data.company_metric_id, 'min_range_wanted') : 0.25" max-range-wanted="getGaugeParam(level3_data.company_metric_id, 'max_range_wanted') !==  undefined ? getGaugeParam(level3_data.company_metric_id, 'max_range_wanted') : 0.75" rate="getGaugeParam(level3_data.company_metric_id, 'rate')" radius='100' title-name='level3_data.gauge.title' background-color='data.gauge.background_color' wanted-area-color='level3_data.color'></measurement-gauge>
        <div class='page-unavailable-title empty-gauge-title' ng-show="isGaugeEmpty(getGaugeParam(level3_data.company_metric_id, 'rate'), level3_data.company_metric_id)"> Will be available in future versions</div>
        <div class="gauge_remark_container">
          <description-tooltip text='level3_data.description'> </description-tooltip>
        </div>
      </div>
      <div class="level_3_data">
        <div class="blood_container" ng-if='find_types_in_level(level3_data.children, 5)'>
          <div class="blood_title">
            <div class="icon">
              <img class="measurement_icon" src="/assets/measurements.png">
            </div>
            <div class="blood_title_text">measurements</div>
          </div>
          <div class='clickable' ng-repeat='level4_data in level3_data.children' ng-click="gotoAnchor(level4_data.id)">
            <blood-test ng-init='gauge_exists=true' name='level4_data.name' color='data.gauge.background_color' ng-if="level4_data.algorithm_type===5"
              valid-color='data.color' min="getGaugeParam(level4_data.company_metric_id, 'min_range')" max="getGaugeParam(level4_data.company_metric_id, 'max_range')"
              value="getGaugeParam(level4_data.company_metric_id, 'rate')" text='{{level4_data.description}}'
              minvalid-value="getGaugeParam(level4_data.company_metric_id, 'min_range_wanted')"
              maxvalid-value="getGaugeParam(level4_data.company_metric_id, 'max_range_wanted')">
            </blood-test>
         </div>
        </div>
        <div class="flags_container blood_container" ng-if='find_types_in_level(level3_data.children, 2)' >
          <div class="blood_title">
            <div class="icon">
              <img class="flags_icon" src="/assets/flag.png">
            </div>
            <div class="blood_title_text" >flags</div>
          </div>
          <div class="flags_content clickable" ng-repeat='level4_data in level3_data.children | filter:{algorithm_type: 2}' ng-click="gotoAnchor(level4_data.id)">
            <div class="flag_name">{{level4_data.name}}
            <div class='info-description' ng-show='level4_data.description.length > 0' ng-mouseleave='showLevel4Tooltip = false' ng-mouseenter='showLevel4Tooltip = true'>
              <div class='info'></div>
              <div class="tool_tip_background" ng-show='showLevel4Tooltip'></div>
              <div class='arrow-info' ng-show='showLevel4Tooltip'></div>
              <div class='info-content' ng-show='showLevel4Tooltip'>{{level4_data.description}}</div>
            </div>
            </div>
          </div>
        </div>
        <div class="flags_container blood_container" ng-show='find_types_in_level(level3_data.children, 1)'>
          <div class="blood_title">
            <div class="icon">
              <img class="flags_icon" src="/assets/graph.png">
            </div>
          <div class="blood_title_text">graphs</div>
          </div>
          <div class="flags_content clickable" ng-repeat='level4_data in level3_data.children | filter:{algorithm_type: 1}'  ng-click="gotoAnchor(level4_data.id)">
            <div class="flag_name">{{level4_data.name}}
            <div class='info-description' ng-show='level4_data.description.length > 0' ng-mouseleave='showLevel4Tooltip = false' ng-mouseenter='showLevel4Tooltip = true'>
              <div class='info'></div>
              <div class="tool_tip_background" ng-show='showLevel4Tooltip'></div>
              <div class='arrow-info' ng-show='showLevel4Tooltip'></div>
              <div class='info-content' ng-show='showLevel4Tooltip'>{{level4_data.description}}</div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- {{level3_data}} -->
      <div class='level-4-container' ng-repeat='level4_data in level3_data.children'  id="{{level4_data.id}}">
        <div class='sub-header level-4-title'>
          <div class='dot' ng-style="{'background-color':  data.color}"></div>
          <div class='title-name'>{{level4_data.name}}</div>
          <div class='info-description' ng-show='level4_data.description.length > 0' ng-mouseleave='showLevel4Tooltip = false' ng-mouseenter='showLevel4Tooltip = true'>
            <div class='info'></div>
            <div class="tool_tip_background" ng-show='showLevel4Tooltip'></div>
            <div class='arrow-info' ng-show='showLevel4Tooltip'></div>
            <div class='info-content' ng-show='showLevel4Tooltip'>{{level4_data.description}}</div>
          </div>
        </div>
        <div class='metric-widget' ng-if="level4_data.algorithm_type === 1">
          <div class="jump-to-explore-warper">
            <div class='jump-to-explore clickable' ng-if='getAnalyzeCompanyMetric(level4_data.company_metric_id, level4_data.algorithm_type)' ng-click="jumpToExplore([], level4_data.name, getAnalyzeCompanyMetric(level4_data.company_metric_id, level4_data.algorithm_type), 1)">
              <div class='jump-to-image'><img ng-src='{{jumpToExploreImage()}}'> </div>
              <div class='jump-to-name clickable' ng-style='getColor()'>view in Explore</div>
            </div>
          </div>
          <metric-widget-directive measure-data='getDataForLevel(level4_data.company_metric_id, level4_data.algorithm_type)' metric-id="$index + $parent.$index * 10" external-data-metric='externalDataMetric' measure-name-size='measureNameSize'> </metric-widget-directive>
        </div>
        <div class='flag-widget' ng-if="level4_data.algorithm_type === 2">
          <flag-widget flag-data='getDataForLevel(level4_data.company_metric_id, level4_data.algorithm_type)' flag-name='level4_data.name' index-pos='$index'> </flag-widget>
        </div>
		
      	 <word-cloud color='level3_data.color' words='dataModelService.getDataForLevel(level4_data.company_metric_id, level4_data.algorithm_type)' ng-if='level4_data.algorithm_type === 7'>
      	</word-cloud>

        <div class="gauge-wrapper level-4-gague" ng-if="level4_data.algorithm_type === 5" >
          <!-- && getDataForLevel(level4_data.company_metric_id, level4_data.algorithm_type)" -->
          <!-- measurement-gauge min-range='data.gauge.min_range' max-range='data.gauge.max_range' min-range-wanted='data.gauge.min_range_wanted' max-range-wanted='data.gauge.max_range_wanted' rate='data.gauge.rate' radius='120' title-name='data.gauge.title'  background-color='data.gauge.background_color' wanted-area-color='data.color'></measurement-gauge -->
          <div class='jump-to-explore clickable' ng-hide="isGaugeEmpty(getGaugeParam(level4_data.company_metric_id, 'rate'), level4_data.company_metric_id)"  ng-click="jumpToExplore([], level4_data.name, getGaugeParam(level4_data.company_metric_id,'analyze_company_metric_id'), 5)">
            <div class='jump-to-image'><img ng-src='{{jumpToExploreImage()}}'> </div>
            <div class='jump-to-name clickable' ng-style='getColor()'>view in Explore</div>
          </div>
          <measurement-gauge min-range="getGaugeParam(level4_data.company_metric_id, 'min_range') !== undefined ? getGaugeParam(level4_data.company_metric_id, 'min_range') : 0" max-range="getGaugeParam(level4_data.company_metric_id, 'max_range') !== undefined ? getGaugeParam(level4_data.company_metric_id, 'max_range') : 1" min-range-wanted="getGaugeParam(level4_data.company_metric_id, 'min_range_wanted') !== undefined ? getGaugeParam(level4_data.company_metric_id, 'min_range_wanted') : 0.25" max-range-wanted="getGaugeParam(level4_data.company_metric_id, 'max_range_wanted') !==  undefined ? getGaugeParam(level4_data.company_metric_id, 'max_range_wanted') : 0.75" rate="getGaugeParam(level4_data.company_metric_id, 'rate')" radius='80' title-name='Centrailzation'  background-color='data.gauge.background_color' wanted-area-color='data.color'></measurement-gauge>
          <div class='page-unavailable-title empty-gauge-level-4' ng-show="isGaugeEmpty(getGaugeParam(level4_data.company_metric_id, 'rate'), level4_data.company_metric_id)"> Will be available in future versions</div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
