<div class='view-tip-container' ng-controller='viewTipController' ng-init='init()'>
  <div class='slide-left'> &lsaquo;</div>
  <div class ='content-cls'>
    <div class='title'>{{tip_list.title}}</div>
    <div class='details'>{{tip_list.content}}</div>
  </div>
  <div class='slide-right'>&rsaquo;</div>
</div>
