<div class='pin-editor' ng-init='init()' ng-controller='PinEditorController' ng-cloak>
  <div class='sidebar'>
    <div class='pins-container'>
      <div class='pin-title' ng-click='onClickPinTitle(pin)' ng-class="{selected: select == pin}" ng-repeat='pin in pins'>
        {{pin.name}}
      </div>
    </div>
    <div class='new-pin' ng-click='onClickNewPin()'>New</div>
    <div class='delete-pin' ng-click='onClickDelete(select)'>Delete</div>
  </div>
  <div class='content'>
    <div class='name-field'>
      <div class='title'>Name:</div>
      <input class='input' ng-model='select.name'/>
    </div>
    <div class='filters'>
    {{select}}
      <div ng-click='onClickAddFilter(select)' class='add-filter'>+</div>
      <div class='filter' ng-repeat='cond in select.definition.conditions'>
        <div ng-click='onClickDelFilter(select, cond)' class='del-filter'>-</div>
        <select class='param' ng-model='cond.param' ng-options='p for p in available_params'></select>
        <select class='oper' ng-model='cond.oper' ng-options='p for p in available_opers'></select>
        <div class='val' ng-repeat='val in availableValsForParam(cond.param)'>
          <input class='val-check' ng-checked="doesCondHaveValue(cond, val)" type='checkbox' ng-click='onClickParamVal(cond, val)'>
          <div class='val-name'>{{val.name}}</div>
        </div>
      </div>
    </div>
    <div class='employees'>
      <div class='employee' ng-repeat='employee in employees'>
        <input class='employee-check' ng-checked="doesPinContainEmployee(select, employee)" type='checkbox' ng-click='onClickPinEmployee(select, employee)'>
        <div class='employee-name'>{{employee.email}}</div>
      </div>
    </div>
  </div>
  <div class='save-btn' ng-click='onClickSave(select)'>Save</div>
</div>

