<div class='workflow-container' ng-controller='workflowController' ng-init='init()'>
  <div class='level-title'> <div class='title-name'>Continue Learning New Things </div> </div>
  <tabs-level class='tabs-level-wrapper' top-selected-color="'orange'"  ng-if='show_page' list='tab_levels' selected='selected_tab' on-click-func="changeTab"></tabs-level>
  <tab-level-content  data='selected_tab' ng-if='show_page'></tab-level-content>
</div>