<div>
  <div class='mobile-content' id="main_container">
    <div class='page_content'>
      <h1 class='page_title'><%= I18n.t('questionnaire.thank_you') %></h1>
      <div class='text'>
        <%= I18n.t('questionnaire.thank_you_note')  %>
      </div>
      <div class='logo-mobile'>
        <img src="<%= asset_path 'logo-medium.png' %>" height="75" width="308">
      </div>
    </div>
  </div>
</div>
